In [1]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
insurance = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
# Let's one hot encode
insurance_one_hot_encode = pd.get_dummies(insurance)
insurance_one_hot_encode

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0,0,1,0,0
1334,18,31.920,0,2205.98080,1,0,1,0,1,0,0,0
1335,18,36.850,0,1629.83350,1,0,1,0,0,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0,0,0,0,1
1337,61,29.070,0,29141.36030,1,0,0,1,0,1,0,0

In [5]:
# Create X and Y values
X = insurance_one_hot_encode.drop("charges", axis=1)
y = insurance_one_hot_encode["charges"]

In [6]:
# Create training and testting data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
# Lets Build a model

# 1. Create a model
model = tf.keras.Sequential([
    tf.keras.layers.Dense(1),
    tf.keras.layers.Dense(1)
])

# 2. Compile a model
model.compile(loss=tf.keras.losses.mae,
              optimizer=tf.keras.optimizers.SGD(),
              metrics=['mae'])

# 3. Fit the model
model.fit(X_train, y_train, epochs=100)

Epoch 1/100
34/34 [==============================] - 1s 2ms/step - loss: 8807.6914 - mae: 8807.6914
Epoch 2/100
34/34 [==============================] - 0s 1ms/step - loss: 7725.0176 - mae: 7725.0176
Epoch 3/100
34/34 [==============================] - 0s 1ms/step - loss: 7789.0811 - mae: 7789.0811
Epoch 4/100
34/34 [==============================] - 0s 1ms/step - loss: 7550.9814 - mae: 7550.9814
Epoch 5/100
34/34 [==============================] - 0s 1ms/step - loss: 7696.0283 - mae: 7696.0283
Epoch 6/100
34/34 [==============================] - 0s 2ms/step - loss: 7853.4531 - mae: 7853.4531
Epoch 7/100
34/34 [==============================] - 0s 2ms/step - loss: 7826.8164 - mae: 7826.8164
Epoch 8/100
34/34 [==============================] - 0s 2ms/step - loss: 7742.0093 - mae: 7742.0093
Epoch 9/100
34/34 [==============================] - 0s 2ms/step - loss: 7678.8032 - mae: 7678.8032
Epoch 10/100
34/34 [==============================] - 0s 2ms/step - loss: 7664.6499 - mae: 7664.6499
Epoch 11/100
34/34 [==============================] - 0s 1ms/step - loss: 7626.9932 - mae: 7626.9932
Epoch 12/100
34/34 [==============================] - 0s 2ms/step - loss: 7797.5205 - mae: 7797.5205
Epoch 13/100
34/34 [==============================] - 0s 1ms/step - loss: 7594.0381 - mae: 7594.0381
Epoch 14/100
34/34 [==============================] - 0s 2ms/step - loss: 7503.7339 - mae: 7503.7339
Epoch 15/100
34/34 [==============================] - 0s 1ms/step - loss: 7585.1323 - mae: 7585.1323
Epoch 16/100
34/34 [==============================] - 0s 1ms/step - loss: 7610.5938 - mae: 7610.5938
Epoch 17/100
34/34 [==============================] - 0s 1ms/step - loss: 7665.3237 - mae: 7665.3237
Epoch 18/100
34/34 [==============================] - 0s 1ms/step - loss: 7525.2617 - mae: 7525.2617
Epoch 19/100
34/34 [==============================] - 0s 1ms/step - loss: 7793.2871 - mae: 7793.2871
Epoch 20/100
34/34 [==============================] - 0s 2ms/step - loss: 7714.7832 - mae: 7714.7832
Epoch 21/100
34/34 [==============================] - 0s 1ms/step - loss: 7613.5742 - mae: 7613.5742
Epoch 22/100
34/34 [==============================] - 0s 1ms/step - loss: 7361.1143 - mae: 7361.1143
Epoch 23/100
34/34 [==============================] - 0s 1ms/step - loss: 7636.8472 - mae: 7636.8472
Epoch 24/100
34/34 [==============================] - 0s 1ms/step - loss: 7674.1968 - mae: 7674.1968
Epoch 25/100
34/34 [==============================] - 0s 2ms/step - loss: 7544.4775 - mae: 7544.4775
Epoch 26/100
34/34 [==============================] - 0s 2ms/step - loss: 7718.1689 - mae: 7718.1689
Epoch 27/100
34/34 [==============================] - 0s 2ms/step - loss: 7598.8428 - mae: 7598.8428
Epoch 28/100
34/34 [==============================] - 0s 2ms/step - loss: 7640.1846 - mae: 7640.1846
Epoch 29/100
34/34 [==============================] - 0s 3ms/step - loss: 7498.8276 - mae: 7498.8276
Epoch 30/100
34/34 [==============================] - 0s 1ms/step - loss: 7626.5063 - mae: 7626.5063
Epoch 31/100
34/34 [==============================] - 0s 911us/step - loss: 7422.2319 - mae: 7422.2319
Epoch 32/100
34/34 [==============================] - 0s 884us/step - loss: 7579.3975 - mae: 7579.3975
Epoch 33/100
34/34 [==============================] - 0s 890us/step - loss: 7432.1919 - mae: 7432.1919
Epoch 34/100
34/34 [==============================] - 0s 869us/step - loss: 7682.1465 - mae: 7682.1465
Epoch 35/100
34/34 [==============================] - 0s 993us/step - loss: 7574.0195 - mae: 7574.0195
Epoch 36/100
34/34 [==============================] - 0s 1ms/step - loss: 7585.2373 - mae: 7585.2373
Epoch 37/100
34/34 [==============================] - 0s 884us/step - loss: 7462.9131 - mae: 7462.9131
Epoch 38/100
34/34 [==============================] - 0s 901us/step - loss: 7425.5923 - mae: 7425.5923
Epoch 39/100
34/34 [==============================] - 0s 1ms/step - loss: 7576.5620 - mae: 7576.5620
Epoch 40/100
34/34 [==============================] - 0s 949us/step - loss: 7343.5176 - mae: 7343.5176
Epoch 41/100
34/34 [==============================] - 0s 887us/step - loss: 7414.5195 - mae: 7414.5195
Epoch 42/100
34/34 [==============================] - 0s 863us/step - loss: 7589.6963 - mae: 7589.6963
Epoch 43/100
34/34 [==============================] - 0s 873us/step - loss: 7498.8267 - mae: 7498.8267
Epoch 44/100
34/34 [==============================] - 0s 879us/step - loss: 7598.3564 - mae: 7598.3564
Epoch 45/100
34/34 [==============================] - 0s 953us/step - loss: 7516.3359 - mae: 7516.3359
Epoch 46/100
34/34 [==============================] - 0s 895us/step - loss: 7496.9849 - mae: 7496.9849
Epoch 47/100
34/34 [==============================] - 0s 1ms/step - loss: 7589.4731 - mae: 7589.4731
Epoch 48/100
34/34 [==============================] - 0s 940us/step - loss: 7394.1479 - mae: 7394.1479
Epoch 49/100
34/34 [==============================] - 0s 877us/step - loss: 7544.4897 - mae: 7544.4897
Epoch 50/100
34/34 [==============================] - 0s 962us/step - loss: 7195.7246 - mae: 7195.7246
Epoch 51/100
34/34 [==============================] - 0s 939us/step - loss: 7593.4346 - mae: 7593.4346
Epoch 52/100
34/34 [==============================] - 0s 925us/step - loss: 7369.9316 - mae: 7369.9316
Epoch 53/100
34/34 [==============================] - 0s 908us/step - loss: 7204.0054 - mae: 7204.0054
Epoch 54/100
34/34 [==============================] - 0s 933us/step - loss: 7479.2388 - mae: 7479.2388
Epoch 55/100
34/34 [==============================] - 0s 1ms/step - loss: 7342.7651 - mae: 7342.7651
Epoch 56/100
34/34 [==============================] - 0s 916us/step - loss: 7547.3081 - mae: 7547.3081
Epoch 57/100
34/34 [==============================] - 0s 968us/step - loss: 7465.7856 - mae: 7465.7856
Epoch 58/100
34/34 [==============================] - 0s 1ms/step - loss: 7571.9414 - mae: 7571.9414
Epoch 59/100
34/34 [==============================] - 0s 907us/step - loss: 7436.3994 - mae: 7436.3994
Epoch 60/100
34/34 [==============================] - 0s 891us/step - loss: 7359.7656 - mae: 7359.7656
Epoch 61/100
34/34 [==============================] - 0s 941us/step - loss: 7387.1680 - mae: 7387.1680
Epoch 62/100
34/34 [==============================] - 0s 938us/step - loss: 7496.3296 - mae: 7496.3296
Epoch 63/100
34/34 [==============================] - 0s 909us/step - loss: 7275.4136 - mae: 7275.4136
Epoch 64/100
34/34 [==============================] - 0s 922us/step - loss: 7276.8110 - mae: 7276.8110
Epoch 65/100
34/34 [==============================] - 0s 888us/step - loss: 7374.8462 - mae: 7374.8462
Epoch 66/100
34/34 [==============================] - 0s 1ms/step - loss: 7384.5845 - mae: 7384.5845
Epoch 67/100
34/34 [==============================] - 0s 1ms/step - loss: 7594.2979 - mae: 7594.2979
Epoch 68/100
34/34 [==============================] - 0s 945us/step - loss: 7292.7383 - mae: 7292.7383
Epoch 69/100
34/34 [==============================] - 0s 924us/step - loss: 7394.2339 - mae: 7394.2339
Epoch 70/100
34/34 [==============================] - 0s 1ms/step - loss: 7260.3794 - mae: 7260.3794
Epoch 71/100
34/34 [==============================] - 0s 906us/step - loss: 7495.4014 - mae: 7495.4014
Epoch 72/100
34/34 [==============================] - 0s 911us/step - loss: 7303.5132 - mae: 7303.5132
Epoch 73/100
34/34 [==============================] - 0s 898us/step - loss: 7487.0596 - mae: 7487.0596
Epoch 74/100
34/34 [==============================] - 0s 914us/step - loss: 7456.0674 - mae: 7456.0674
Epoch 75/100
34/34 [==============================] - 0s 980us/step - loss: 7416.4658 - mae: 7416.4658
Epoch 76/100
34/34 [==============================] - 0s 904us/step - loss: 7178.2886 - mae: 7178.2886
Epoch 77/100
34/34 [==============================] - 0s 887us/step - loss: 7367.8052 - mae: 7367.8052
Epoch 78/100
34/34 [==============================] - 0s 938us/step - loss: 7164.0654 - mae: 7164.0654
Epoch 79/100
34/34 [==============================] - 0s 886us/step - loss: 7398.6670 - mae: 7398.6670
Epoch 80/100
34/34 [==============================] - 0s 1ms/step - loss: 7309.3970 - mae: 7309.3970
Epoch 81/100
34/34 [==============================] - 0s 1ms/step - loss: 7139.9087 - mae: 7139.9087
Epoch 82/100
34/34 [==============================] - 0s 950us/step - loss: 7514.7842 - mae: 7514.7842
Epoch 83/100
34/34 [==============================] - 0s 898us/step - loss: 7302.4556 - mae: 7302.4556
Epoch 84/100
34/34 [==============================] - 0s 945us/step - loss: 7489.3931 - mae: 7489.3931
Epoch 85/100
34/34 [==============================] - 0s 900us/step - loss: 7263.2007 - mae: 7263.2007
Epoch 86/100
34/34 [==============================] - 0s 868us/step - loss: 7526.6313 - mae: 7526.6313
Epoch 87/100
34/34 [==============================] - 0s 963us/step - loss: 7367.2417 - mae: 7367.2417
Epoch 88/100
34/34 [==============================] - 0s 940us/step - loss: 7101.3521 - mae: 7101.3521
Epoch 89/100
34/34 [==============================] - 0s 905us/step - loss: 7134.5854 - mae: 7134.5854
Epoch 90/100
34/34 [==============================] - 0s 931us/step - loss: 7236.6411 - mae: 7236.6411
Epoch 91/100
34/34 [==============================] - 0s 968us/step - loss: 7364.8335 - mae: 7364.8335
Epoch 92/100
34/34 [==============================] - 0s 923us/step - loss: 7084.7227 - mae: 7084.7227
Epoch 93/100
34/34 [==============================] - 0s 890us/step - loss: 7380.1836 - mae: 7380.1836
Epoch 94/100
34/34 [==============================] - 0s 877us/step - loss: 7155.4565 - mae: 7155.4565
Epoch 95/100
34/34 [==============================] - 0s 884us/step - loss: 7380.0669 - mae: 7380.0669
Epoch 96/100
34/34 [==============================] - 0s 867us/step - loss: 7112.1172 - mae: 7112.1172
Epoch 97/100
34/34 [==============================] - 0s 970us/step - loss: 7260.1533 - mae: 7260.1533
Epoch 98/100
34/34 [==============================] - 0s 973us/step - loss: 7234.9404 - mae: 7234.9404
Epoch 99/100
34/34 [==============================] - 0s 913us/step - loss: 7318.6074 - mae: 7318.6074
Epoch 100/100
34/34 [==============================] - 0s 950us/step - loss: 7137.7202 - mae: 7137.7202

In [8]:
# Check the results of the insurance model on the test data
model.evaluate(X_test, y_test)

9/9 [==============================] - 0s 2ms/step - loss: 9653.2266 - mae: 9653.2266

[9653.2265625, 9653.2265625]

In [9]:
y_train

560      9193.83850
1285     8534.67180
1142    27117.99378
969      8596.82780
486     12475.35130
           ...
1095     4561.18850
1130     8582.30230
1294    11931.12525
860     46113.51100
1126    10214.63600
Name: charges, Length: 1070, dtype: float64

In [10]:
y_train.median(), y_train.mean()

(9575.4421, 13346.089736364485)