In [1]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Dataset
insurance = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [3]:
# Lets one hot encode our dataset
insurance_one_hot_encode = pd.get_dummies(insurance)
insurance_one_hot_encode

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0,0,1,0,0
1334,18,31.920,0,2205.98080,1,0,1,0,1,0,0,0
1335,18,36.850,0,1629.83350,1,0,1,0,0,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0,0,0,0,1
1337,61,29.070,0,29141.36030,1,0,0,1,0,1,0,0

In [4]:
# Lets create features and labels
X = insurance_one_hot_encode.drop("charges", axis=1)
X

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,0,0,1,0,0,0,1
1,18,33.770,1,0,1,1,0,0,0,1,0
2,28,33.000,3,0,1,1,0,0,0,1,0
3,33,22.705,0,0,1,1,0,0,1,0,0
4,32,28.880,0,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,0,1,1,0,0,1,0,0
1334,18,31.920,0,1,0,1,0,1,0,0,0
1335,18,36.850,0,1,0,1,0,0,0,1,0
1336,21,25.800,0,1,0,1,0,0,0,0,1
1337,61,29.070,0,1,0,0,1,0,1,0,0

In [5]:
y = insurance_one_hot_encode["charges"]
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [6]:
# Lets divide the data into training and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, y_train

(      age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes  \
 560    46  19.950         2           1         0          1           0
 1285   47  24.320         0           1         0          1           0
 1142   52  24.860         0           1         0          1           0
 969    39  34.320         5           1         0          1           0
 486    54  21.470         3           1         0          1           0
 ...   ...     ...       ...         ...       ...        ...         ...
 1095   18  31.350         4           1         0          1           0
 1130   39  23.870         5           1         0          1           0
 1294   58  25.175         0           0         1          1           0
 860    37  47.600         2           1         0          0           1
 1126   55  29.900         0           0         1          1           0

       region_northeast  region_northwest  region_southeast  region_southwest
 560                  0                 1                 0                 0
 1285                 1                 0                 0                 0
 1142                 0                 0                 1                 0
 969                  0                 0                 1                 0
 486                  0                 1                 0                 0
 ...                ...               ...               ...               ...
 1095                 1                 0                 0                 0
 1130                 0                 0                 1                 0
 1294                 1                 0                 0                 0
 860                  0                 0                 0                 1
 1126                 0                 0                 0                 1

 [1070 rows x 11 columns],
 560      9193.83850
 1285     8534.67180
 1142    27117.99378
 969      8596.82780
 486     12475.35130
            ...
 1095     4561.18850
 1130     8582.30230
 1294    11931.12525
 860     46113.51100
 1126    10214.63600
 Name: charges, Length: 1070, dtype: float64)

In [7]:
0.8*1338

1070.4

In [8]:
# Lets build a model with 2 layers and 100 epochs
tf.random.set_seed(42)

# 1. Create a model
model = tf.keras.Sequential([
    tf.keras.layers.Dense(1),
    tf.keras.layers.Dense(1)
])

# 2. Compile the model
model.compile(loss=tf.keras.losses.mae,
              optimizer=tf.keras.optimizers.SGD(),
              metrics=['mae'])

# 3. fit the model
model.fit(X_train, y_train, epochs=100)

Epoch 1/100
34/34 [==============================] - 1s 2ms/step - loss: 8881.8369 - mae: 8881.8369
Epoch 2/100
34/34 [==============================] - 0s 2ms/step - loss: 7862.3486 - mae: 7862.3486
Epoch 3/100
34/34 [==============================] - 0s 1ms/step - loss: 7599.4751 - mae: 7599.4751
Epoch 4/100
34/34 [==============================] - 0s 1ms/step - loss: 7777.6362 - mae: 7777.6362
Epoch 5/100
34/34 [==============================] - 0s 1ms/step - loss: 7602.8623 - mae: 7602.8623
Epoch 6/100
34/34 [==============================] - 0s 1ms/step - loss: 7615.5229 - mae: 7615.5229
Epoch 7/100
34/34 [==============================] - 0s 2ms/step - loss: 7581.4243 - mae: 7581.4243
Epoch 8/100
34/34 [==============================] - 0s 1ms/step - loss: 7793.7588 - mae: 7793.7588
Epoch 9/100
34/34 [==============================] - 0s 1ms/step - loss: 7611.4678 - mae: 7611.4678
Epoch 10/100
34/34 [==============================] - 0s 2ms/step - loss: 7707.3843 - mae: 7707.3843
Epoch 11/100
34/34 [==============================] - 0s 1ms/step - loss: 7658.1060 - mae: 7658.1060
Epoch 12/100
34/34 [==============================] - 0s 1ms/step - loss: 7562.0078 - mae: 7562.0078
Epoch 13/100
34/34 [==============================] - 0s 1ms/step - loss: 7643.9614 - mae: 7643.9614
Epoch 14/100
34/34 [==============================] - 0s 1ms/step - loss: 7717.5078 - mae: 7717.5078
Epoch 15/100
34/34 [==============================] - 0s 1ms/step - loss: 7666.3687 - mae: 7666.3687
Epoch 16/100
34/34 [==============================] - 0s 1ms/step - loss: 7696.7075 - mae: 7696.7075
Epoch 17/100
34/34 [==============================] - 0s 2ms/step - loss: 7452.1460 - mae: 7452.1460
Epoch 18/100
34/34 [==============================] - 0s 2ms/step - loss: 7699.5210 - mae: 7699.5210
Epoch 19/100
34/34 [==============================] - 0s 2ms/step - loss: 7816.1865 - mae: 7816.1865
Epoch 20/100
34/34 [==============================] - 0s 1ms/step - loss: 7816.0601 - mae: 7816.0601
Epoch 21/100
34/34 [==============================] - 0s 2ms/step - loss: 7467.7812 - mae: 7467.7812
Epoch 22/100
34/34 [==============================] - 0s 4ms/step - loss: 7890.3037 - mae: 7890.3037
Epoch 23/100
34/34 [==============================] - 0s 3ms/step - loss: 7702.4883 - mae: 7702.4883
Epoch 24/100
34/34 [==============================] - 0s 5ms/step - loss: 7567.2798 - mae: 7567.2798
Epoch 25/100
34/34 [==============================] - 0s 3ms/step - loss: 7379.9858 - mae: 7379.9858
Epoch 26/100
34/34 [==============================] - 0s 3ms/step - loss: 7681.3213 - mae: 7681.3213
Epoch 27/100
34/34 [==============================] - 0s 2ms/step - loss: 7699.0913 - mae: 7699.0913
Epoch 28/100
34/34 [==============================] - 0s 3ms/step - loss: 7417.9512 - mae: 7417.9512
Epoch 29/100
34/34 [==============================] - 0s 3ms/step - loss: 7657.3208 - mae: 7657.3208
Epoch 30/100
34/34 [==============================] - 0s 3ms/step - loss: 7409.9272 - mae: 7409.9272
Epoch 31/100
34/34 [==============================] - 0s 3ms/step - loss: 7496.7104 - mae: 7496.7104
Epoch 32/100
34/34 [==============================] - 0s 2ms/step - loss: 7482.2715 - mae: 7482.2715
Epoch 33/100
34/34 [==============================] - 0s 2ms/step - loss: 7392.2832 - mae: 7392.2832
Epoch 34/100
34/34 [==============================] - 0s 2ms/step - loss: 7420.5332 - mae: 7420.5332
Epoch 35/100
34/34 [==============================] - 0s 2ms/step - loss: 7491.6387 - mae: 7491.6387
Epoch 36/100
34/34 [==============================] - 0s 3ms/step - loss: 7613.2461 - mae: 7613.2461
Epoch 37/100
34/34 [==============================] - 0s 3ms/step - loss: 7662.1753 - mae: 7662.1753
Epoch 38/100
34/34 [==============================] - 0s 4ms/step - loss: 7400.6938 - mae: 7400.6938
Epoch 39/100
34/34 [==============================] - 0s 5ms/step - loss: 7539.3828 - mae: 7539.3828
Epoch 40/100
34/34 [==============================] - 0s 5ms/step - loss: 7273.2983 - mae: 7273.2983
Epoch 41/100
34/34 [==============================] - 0s 4ms/step - loss: 7732.7056 - mae: 7732.7056
Epoch 42/100
34/34 [==============================] - 0s 6ms/step - loss: 7405.1968 - mae: 7405.1968
Epoch 43/100
34/34 [==============================] - 0s 5ms/step - loss: 7690.8560 - mae: 7690.8560
Epoch 44/100
34/34 [==============================] - 0s 3ms/step - loss: 7552.6748 - mae: 7552.6748
Epoch 45/100
34/34 [==============================] - 0s 3ms/step - loss: 7340.0483 - mae: 7340.0483
Epoch 46/100
34/34 [==============================] - 0s 5ms/step - loss: 7283.5415 - mae: 7283.5415
Epoch 47/100
34/34 [==============================] - 0s 6ms/step - loss: 7325.8799 - mae: 7325.8799
Epoch 48/100
34/34 [==============================] - 0s 6ms/step - loss: 7477.5347 - mae: 7477.5347
Epoch 49/100
34/34 [==============================] - 0s 7ms/step - loss: 7546.8003 - mae: 7546.8003
Epoch 50/100
34/34 [==============================] - 0s 5ms/step - loss: 7470.7734 - mae: 7470.7734
Epoch 51/100
34/34 [==============================] - 0s 6ms/step - loss: 7313.4917 - mae: 7313.4917
Epoch 52/100
34/34 [==============================] - 0s 6ms/step - loss: 7555.7319 - mae: 7555.7319
Epoch 53/100
34/34 [==============================] - 0s 6ms/step - loss: 7531.5581 - mae: 7531.5581
Epoch 54/100
34/34 [==============================] - 0s 6ms/step - loss: 7259.7095 - mae: 7259.7095
Epoch 55/100
34/34 [==============================] - 0s 6ms/step - loss: 7256.1855 - mae: 7256.1855
Epoch 56/100
34/34 [==============================] - 0s 4ms/step - loss: 7324.2036 - mae: 7324.2036
Epoch 57/100
34/34 [==============================] - 0s 3ms/step - loss: 7482.8599 - mae: 7482.8599
Epoch 58/100
34/34 [==============================] - 0s 3ms/step - loss: 7334.7168 - mae: 7334.7168
Epoch 59/100
34/34 [==============================] - 0s 3ms/step - loss: 7721.9517 - mae: 7721.9517
Epoch 60/100
34/34 [==============================] - 0s 6ms/step - loss: 7400.0518 - mae: 7400.0518
Epoch 61/100
34/34 [==============================] - 0s 3ms/step - loss: 7502.5908 - mae: 7502.5908
Epoch 62/100
34/34 [==============================] - 0s 2ms/step - loss: 7410.9292 - mae: 7410.9292
Epoch 63/100
34/34 [==============================] - 0s 3ms/step - loss: 7421.3398 - mae: 7421.3398
Epoch 64/100
34/34 [==============================] - 0s 2ms/step - loss: 7441.8760 - mae: 7441.8760
Epoch 65/100
34/34 [==============================] - 0s 2ms/step - loss: 7633.8164 - mae: 7633.8164
Epoch 66/100
34/34 [==============================] - 0s 3ms/step - loss: 7308.8994 - mae: 7308.8994
Epoch 67/100
34/34 [==============================] - 0s 6ms/step - loss: 7117.9741 - mae: 7117.9741
Epoch 68/100
34/34 [==============================] - 0s 3ms/step - loss: 7510.4932 - mae: 7510.4932
Epoch 69/100
34/34 [==============================] - 0s 3ms/step - loss: 7457.7397 - mae: 7457.7397
Epoch 70/100
34/34 [==============================] - 0s 3ms/step - loss: 7671.7319 - mae: 7671.7319
Epoch 71/100
34/34 [==============================] - 0s 4ms/step - loss: 7214.6748 - mae: 7214.6748
Epoch 72/100
34/34 [==============================] - 0s 3ms/step - loss: 7131.2510 - mae: 7131.2510
Epoch 73/100
34/34 [==============================] - 0s 3ms/step - loss: 7383.1660 - mae: 7383.1660
Epoch 74/100
34/34 [==============================] - 0s 3ms/step - loss: 7380.9644 - mae: 7380.9644
Epoch 75/100
34/34 [==============================] - 0s 3ms/step - loss: 7272.5635 - mae: 7272.5635
Epoch 76/100
34/34 [==============================] - 0s 3ms/step - loss: 7199.1890 - mae: 7199.1890
Epoch 77/100
34/34 [==============================] - 0s 4ms/step - loss: 7502.6353 - mae: 7502.6353
Epoch 78/100
34/34 [==============================] - 0s 3ms/step - loss: 7262.2866 - mae: 7262.2866
Epoch 79/100
34/34 [==============================] - 0s 3ms/step - loss: 7523.1958 - mae: 7523.1958
Epoch 80/100
34/34 [==============================] - 0s 7ms/step - loss: 7468.7358 - mae: 7468.7358
Epoch 81/100
34/34 [==============================] - 0s 2ms/step - loss: 7277.4438 - mae: 7277.4438
Epoch 82/100
34/34 [==============================] - 0s 3ms/step - loss: 7266.6943 - mae: 7266.6943
Epoch 83/100
34/34 [==============================] - 0s 3ms/step - loss: 7423.1401 - mae: 7423.1401
Epoch 84/100
34/34 [==============================] - 0s 4ms/step - loss: 7408.2734 - mae: 7408.2734
Epoch 85/100
34/34 [==============================] - 0s 3ms/step - loss: 7299.0679 - mae: 7299.0679
Epoch 86/100
34/34 [==============================] - 0s 6ms/step - loss: 7295.7856 - mae: 7295.7856
Epoch 87/100
34/34 [==============================] - 0s 5ms/step - loss: 7369.5918 - mae: 7369.5918
Epoch 88/100
34/34 [==============================] - 0s 3ms/step - loss: 7181.7007 - mae: 7181.7007
Epoch 89/100
34/34 [==============================] - 0s 3ms/step - loss: 7539.6216 - mae: 7539.6216
Epoch 90/100
34/34 [==============================] - 0s 3ms/step - loss: 7044.0991 - mae: 7044.0991
Epoch 91/100
34/34 [==============================] - 0s 3ms/step - loss: 7239.3311 - mae: 7239.3311
Epoch 92/100
34/34 [==============================] - 0s 3ms/step - loss: 7262.1055 - mae: 7262.1055
Epoch 93/100
34/34 [==============================] - 0s 2ms/step - loss: 7542.9678 - mae: 7542.9678
Epoch 94/100
34/34 [==============================] - 0s 3ms/step - loss: 7191.2607 - mae: 7191.2607
Epoch 95/100
34/34 [==============================] - 0s 4ms/step - loss: 7267.8745 - mae: 7267.8745
Epoch 96/100
34/34 [==============================] - 0s 5ms/step - loss: 7070.9653 - mae: 7070.9653
Epoch 97/100
34/34 [==============================] - 0s 5ms/step - loss: 7171.9800 - mae: 7171.9800
Epoch 98/100
34/34 [==============================] - 0s 4ms/step - loss: 7474.6216 - mae: 7474.6216
Epoch 99/100
34/34 [==============================] - 0s 4ms/step - loss: 7382.8135 - mae: 7382.8135
Epoch 100/100
34/34 [==============================] - 0s 3ms/step - loss: 7416.4492 - mae: 7416.4492

In [9]:
# Lets evaluate the model
model.evaluate(X_test, y_test)

9/9 [==============================] - 0s 3ms/step - loss: 8699.9629 - mae: 8699.9629

[8699.962890625, 8699.962890625]

In [10]:
y_train.mean(), y_train.median()

(13346.089736364485, 9575.4421)

Right now it looks like our model isn't performing too well... let's try to improve it.

In [11]:
# Lets build a model with 2 layers and 100 epochs
tf.random.set_seed(42)

# 1. Create a model
model = tf.keras.Sequential([
    tf.keras.layers.Dense(10),
    tf.keras.layers.Dense(1)
])

# 2. Compile the model
model.compile(loss=tf.keras.losses.mae,
              optimizer=tf.keras.optimizers.SGD(),
              metrics=['mae'])

# 3. fit the model
model.fit(X_train, y_train, epochs=100)

Epoch 1/100
34/34 [==============================] - 1s 2ms/step - loss: 8847.6016 - mae: 8847.6016
Epoch 2/100
34/34 [==============================] - 0s 2ms/step - loss: 7845.8096 - mae: 7845.8096
Epoch 3/100
34/34 [==============================] - 0s 2ms/step - loss: 7548.9824 - mae: 7548.9824
Epoch 4/100
34/34 [==============================] - 0s 2ms/step - loss: 7787.7515 - mae: 7787.7515
Epoch 5/100
34/34 [==============================] - 0s 2ms/step - loss: 7736.9219 - mae: 7736.9219
Epoch 6/100
34/34 [==============================] - 0s 2ms/step - loss: 7646.3320 - mae: 7646.3320
Epoch 7/100
34/34 [==============================] - 0s 2ms/step - loss: 7553.3599 - mae: 7553.3599
Epoch 8/100
34/34 [==============================] - 0s 2ms/step - loss: 7738.5303 - mae: 7738.5303
Epoch 9/100
34/34 [==============================] - 0s 2ms/step - loss: 7608.7959 - mae: 7608.7959
Epoch 10/100
34/34 [==============================] - 0s 2ms/step - loss: 7751.6992 - mae: 7751.6992
Epoch 11/100
34/34 [==============================] - 0s 1ms/step - loss: 7399.8643 - mae: 7399.8643
Epoch 12/100
34/34 [==============================] - 0s 2ms/step - loss: 7480.5405 - mae: 7480.5405
Epoch 13/100
34/34 [==============================] - 0s 1ms/step - loss: 7702.6865 - mae: 7702.6865
Epoch 14/100
34/34 [==============================] - 0s 2ms/step - loss: 7712.9546 - mae: 7712.9546
Epoch 15/100
34/34 [==============================] - 0s 1ms/step - loss: 7494.9795 - mae: 7494.9795
Epoch 16/100
34/34 [==============================] - 0s 1ms/step - loss: 7668.1587 - mae: 7668.1587
Epoch 17/100
34/34 [==============================] - 0s 2ms/step - loss: 7492.8027 - mae: 7492.8027
Epoch 18/100
34/34 [==============================] - 0s 2ms/step - loss: 7568.7197 - mae: 7568.7197
Epoch 19/100
34/34 [==============================] - 0s 2ms/step - loss: 7741.4185 - mae: 7741.4185
Epoch 20/100
34/34 [==============================] - 0s 1ms/step - loss: 7857.0093 - mae: 7857.0093
Epoch 21/100
34/34 [==============================] - 0s 2ms/step - loss: 7525.4014 - mae: 7525.4014
Epoch 22/100
34/34 [==============================] - 0s 2ms/step - loss: 7906.1470 - mae: 7906.1470
Epoch 23/100
34/34 [==============================] - 0s 2ms/step - loss: 7683.3315 - mae: 7683.3315
Epoch 24/100
34/34 [==============================] - 0s 1ms/step - loss: 7535.0698 - mae: 7535.0698
Epoch 25/100
34/34 [==============================] - 0s 2ms/step - loss: 7586.6841 - mae: 7586.6841
Epoch 26/100
34/34 [==============================] - 0s 2ms/step - loss: 7642.0562 - mae: 7642.0562
Epoch 27/100
34/34 [==============================] - 0s 1ms/step - loss: 7395.7783 - mae: 7395.7783
Epoch 28/100
34/34 [==============================] - 0s 1ms/step - loss: 7521.0103 - mae: 7521.0103
Epoch 29/100
34/34 [==============================] - 0s 2ms/step - loss: 7662.2969 - mae: 7662.2969
Epoch 30/100
34/34 [==============================] - 0s 2ms/step - loss: 7441.3989 - mae: 7441.3989
Epoch 31/100
34/34 [==============================] - 0s 2ms/step - loss: 7613.1484 - mae: 7613.1484
Epoch 32/100
34/34 [==============================] - 0s 1ms/step - loss: 7484.4839 - mae: 7484.4839
Epoch 33/100
34/34 [==============================] - 0s 2ms/step - loss: 7496.4897 - mae: 7496.4897
Epoch 34/100
34/34 [==============================] - 0s 2ms/step - loss: 7488.5767 - mae: 7488.5767
Epoch 35/100
34/34 [==============================] - 0s 2ms/step - loss: 7332.6396 - mae: 7332.6396
Epoch 36/100
34/34 [==============================] - 0s 2ms/step - loss: 7671.8110 - mae: 7671.8110
Epoch 37/100
34/34 [==============================] - 0s 1ms/step - loss: 7655.1553 - mae: 7655.1553
Epoch 38/100
34/34 [==============================] - 0s 1ms/step - loss: 7426.2627 - mae: 7426.2627
Epoch 39/100
34/34 [==============================] - 0s 2ms/step - loss: 7542.4058 - mae: 7542.4058
Epoch 40/100
34/34 [==============================] - 0s 2ms/step - loss: 7450.7422 - mae: 7450.7422
Epoch 41/100
34/34 [==============================] - 0s 2ms/step - loss: 7675.7393 - mae: 7675.7393
Epoch 42/100
34/34 [==============================] - 0s 1ms/step - loss: 7569.6030 - mae: 7569.6030
Epoch 43/100
34/34 [==============================] - 0s 1ms/step - loss: 7729.5776 - mae: 7729.5776
Epoch 44/100
34/34 [==============================] - 0s 2ms/step - loss: 7407.0483 - mae: 7407.0483
Epoch 45/100
34/34 [==============================] - 0s 1ms/step - loss: 7536.1660 - mae: 7536.1660
Epoch 46/100
34/34 [==============================] - 0s 2ms/step - loss: 7455.1738 - mae: 7455.1738
Epoch 47/100
34/34 [==============================] - 0s 2ms/step - loss: 7421.0762 - mae: 7421.0762
Epoch 48/100
34/34 [==============================] - 0s 2ms/step - loss: 7381.5884 - mae: 7381.5884
Epoch 49/100
34/34 [==============================] - 0s 2ms/step - loss: 7551.6060 - mae: 7551.6060
Epoch 50/100
34/34 [==============================] - 0s 2ms/step - loss: 7490.2188 - mae: 7490.2188
Epoch 51/100
34/34 [==============================] - 0s 1ms/step - loss: 7388.3062 - mae: 7388.3062
Epoch 52/100
34/34 [==============================] - 0s 2ms/step - loss: 7544.4590 - mae: 7544.4590
Epoch 53/100
34/34 [==============================] - 0s 1ms/step - loss: 7537.6787 - mae: 7537.6787
Epoch 54/100
34/34 [==============================] - 0s 1ms/step - loss: 7160.5420 - mae: 7160.5420
Epoch 55/100
34/34 [==============================] - 0s 1ms/step - loss: 7272.7754 - mae: 7272.7754
Epoch 56/100
34/34 [==============================] - 0s 1ms/step - loss: 7256.8853 - mae: 7256.8853
Epoch 57/100
34/34 [==============================] - 0s 1ms/step - loss: 7544.7954 - mae: 7544.7954
Epoch 58/100
34/34 [==============================] - 0s 1ms/step - loss: 7270.2749 - mae: 7270.2749
Epoch 59/100
34/34 [==============================] - 0s 2ms/step - loss: 7613.3433 - mae: 7613.3433
Epoch 60/100
34/34 [==============================] - 0s 2ms/step - loss: 7520.6992 - mae: 7520.6992
Epoch 61/100
34/34 [==============================] - 0s 2ms/step - loss: 7373.1729 - mae: 7373.1729
Epoch 62/100
34/34 [==============================] - 0s 1ms/step - loss: 7443.8999 - mae: 7443.8999
Epoch 63/100
34/34 [==============================] - 0s 2ms/step - loss: 7322.8071 - mae: 7322.8071
Epoch 64/100
34/34 [==============================] - 0s 2ms/step - loss: 7323.7832 - mae: 7323.7832
Epoch 65/100
34/34 [==============================] - 0s 2ms/step - loss: 7462.8203 - mae: 7462.8203
Epoch 66/100
34/34 [==============================] - 0s 2ms/step - loss: 7233.5278 - mae: 7233.5278
Epoch 67/100
34/34 [==============================] - 0s 2ms/step - loss: 7117.5479 - mae: 7117.5479
Epoch 68/100
34/34 [==============================] - 0s 1ms/step - loss: 7519.2637 - mae: 7519.2637
Epoch 69/100
34/34 [==============================] - 0s 1ms/step - loss: 7589.9146 - mae: 7589.9146
Epoch 70/100
34/34 [==============================] - 0s 1ms/step - loss: 7436.9067 - mae: 7436.9067
Epoch 71/100
34/34 [==============================] - 0s 2ms/step - loss: 7232.7153 - mae: 7232.7153
Epoch 72/100
34/34 [==============================] - 0s 2ms/step - loss: 7404.1763 - mae: 7404.1763
Epoch 73/100
34/34 [==============================] - 0s 2ms/step - loss: 7328.6040 - mae: 7328.6040
Epoch 74/100
34/34 [==============================] - 0s 1ms/step - loss: 7470.8262 - mae: 7470.8262
Epoch 75/100
34/34 [==============================] - 0s 2ms/step - loss: 7332.1572 - mae: 7332.1572
Epoch 76/100
34/34 [==============================] - 0s 2ms/step - loss: 7110.4380 - mae: 7110.4380
Epoch 77/100
34/34 [==============================] - 0s 2ms/step - loss: 7321.9585 - mae: 7321.9585
Epoch 78/100
34/34 [==============================] - 0s 2ms/step - loss: 7093.7461 - mae: 7093.7461
Epoch 79/100
34/34 [==============================] - 0s 2ms/step - loss: 7495.6484 - mae: 7495.6484
Epoch 80/100
34/34 [==============================] - 0s 2ms/step - loss: 7312.8218 - mae: 7312.8218
Epoch 81/100
34/34 [==============================] - 0s 2ms/step - loss: 7155.1714 - mae: 7155.1714
Epoch 82/100
34/34 [==============================] - 0s 2ms/step - loss: 7186.5547 - mae: 7186.5547
Epoch 83/100
34/34 [==============================] - 0s 2ms/step - loss: 7467.4746 - mae: 7467.4746
Epoch 84/100
34/34 [==============================] - 0s 2ms/step - loss: 7399.0752 - mae: 7399.0752
Epoch 85/100
34/34 [==============================] - 0s 1ms/step - loss: 7439.1904 - mae: 7439.1904
Epoch 86/100
34/34 [==============================] - 0s 2ms/step - loss: 7475.1772 - mae: 7475.1772
Epoch 87/100
34/34 [==============================] - 0s 1ms/step - loss: 7249.3247 - mae: 7249.3247
Epoch 88/100
34/34 [==============================] - 0s 1ms/step - loss: 7345.7568 - mae: 7345.7568
Epoch 89/100
34/34 [==============================] - 0s 1ms/step - loss: 7487.4331 - mae: 7487.4331
Epoch 90/100
34/34 [==============================] - 0s 1ms/step - loss: 6976.2935 - mae: 6976.2935
Epoch 91/100
34/34 [==============================] - 0s 1ms/step - loss: 7230.9463 - mae: 7230.9463
Epoch 92/100
34/34 [==============================] - 0s 2ms/step - loss: 7387.8174 - mae: 7387.8174
Epoch 93/100
34/34 [==============================] - 0s 1ms/step - loss: 7455.4521 - mae: 7455.4521
Epoch 94/100
34/34 [==============================] - 0s 2ms/step - loss: 7137.5859 - mae: 7137.5859
Epoch 95/100
34/34 [==============================] - 0s 2ms/step - loss: 7509.3862 - mae: 7509.3862
Epoch 96/100
34/34 [==============================] - 0s 1ms/step - loss: 7145.9531 - mae: 7145.9531
Epoch 97/100
34/34 [==============================] - 0s 2ms/step - loss: 7103.8496 - mae: 7103.8496
Epoch 98/100
34/34 [==============================] - 0s 2ms/step - loss: 7456.1689 - mae: 7456.1689
Epoch 99/100
34/34 [==============================] - 0s 2ms/step - loss: 7296.8496 - mae: 7296.8496
Epoch 100/100
34/34 [==============================] - 0s 2ms/step - loss: 7292.7637 - mae: 7292.7637